web/node_red_flows.json
[{"id":"a7fe9748.02bc38","type":"tab","label":"Crops_recommend","disabled":false,"info":""},{"id":"e7e2ee32.8ee0a","type":"ui_form","z":"a7fe9748.02bc38","name":"","label":"","group":"732525c1.33e62c","order":1,"width":0,"height":0,"options":[{"label":" नाइट्रोजन(Nitrogen)(mg/kg-soil)","value":"Nitrogen","type":"number","required":true,"rows":null},{"label":"फास्फोरस(Phosphorus) ppm","value":"Phospourus","type":"number","required":true,"rows":null},{"label":"पोटैशियम(Potassium)","value":"Potassium","type":"number","required":true,"rows":null},{"label":"तापमान(Temperature)℃🤒","value":"temperature","type":"number","required":true,"rows":null},{"label":"नमी(humidity )%Rh","value":"humidity","type":"number","required":true,"rows":null},{"label":"pH मान(pH Value)👩‍🔬","value":"ph","type":"number","required":true,"rows":null},{"label":" वर्षा(rainfall mm)🌧️मिमी","value":"rainfall","type":"number","required":true,"rows":null}],"formValue":{"Nitrogen":"","Phospourus":"","Potassium":"","temperature":"","humidity":"","ph":"","rainfall":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":50,"y":80,"wires":[["5c5f585c.c1dfc8","cedadc31.02e69","a976d7e8.500c08"]]},{"id":"5c5f585c.c1dfc8","type":"debug","z":"a7fe9748.02bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":40,"wires":[]},{"id":"cedadc31.02e69","type":"function","z":"a7fe9748.02bc38","name":"Global Inputs","func":"global.set(\"Nitrogen\",msg.payload.Nitrogen)\nglobal.set(\"Phosporus\",msg.payload.Phosporus)\nglobal.set(\"potassium\",msg.payload.potassium)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"rainfall\",msg.payload.rainfall)\nvar apikey =\"UGxJYbxhK64SpIAj91JxJeYWOu-7jDmrWhaC2GLwrD6T\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":140,"wires":[["d2fb1662.2c4b68"]]},{"id":"d2fb1662.2c4b68","type":"http request","z":"a7fe9748.02bc38","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":100,"wires":[["e66f3372.6ba98","e0bcb64a.d360e8"]]},{"id":"e66f3372.6ba98","type":"debug","z":"a7fe9748.02bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":20,"wires":[]},{"id":"e0bcb64a.d360e8","type":"function","z":"a7fe9748.02bc38","name":"Pre-prediction","func":"var Nitrogen =global.get(\"Nitrogen\")\nvar Phosporus =global.get(\"Phosporus\")\nvar Potassium =global.get(\"Potassium\")\nvar temperature =global.get(\"temperature\")\nvar humidity =global.get(\"humidity\")\nvar ph =global.get(\"ph\")\nvar rainfall =global.get(\"rainfall\")\nvar token =msg.payload.access_token\nmsg.headers={'Content-Type' : 'application/json',\"Authorization\":\"Bearer\" + token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Nitrogen\",\"Phosporus\",\"Potassium\",\"temperature\",\"humidity\",\"ph\",\"rainfall\"]],\"values\":[[Nitrogen,Phosporus,Potassium,temperature,humidity,ph,rainfall]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["a50a3ec7.af5c1"]]},{"id":"a50a3ec7.af5c1","type":"http request","z":"a7fe9748.02bc38","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/da42623a-ac1e-4898-b04c-fcf588f758d6/predictions?version=2021-08-05","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":200,"wires":[["86bf3780.5445a8","e8f21831.8255e8"]]},{"id":"86bf3780.5445a8","type":"debug","z":"a7fe9748.02bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"e8f21831.8255e8","type":"function","z":"a7fe9748.02bc38","name":"","func":"msg.payload =msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":100,"wires":[["d422366b.c9d898","958e7df6.94c38"]]},{"id":"d422366b.c9d898","type":"debug","z":"a7fe9748.02bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"958e7df6.94c38","type":"ui_text","z":"a7fe9748.02bc38","group":"732525c1.33e62c","order":2,"width":0,"height":0,"name":"","label":"अनुशंसित फसलें (Recommended Crops )","format":"{{msg.payload}}","layout":"row-left","x":780,"y":20,"wires":[]},{"id":"a976d7e8.500c08","type":"watson-conversation-v1","z":"a7fe9748.02bc38","name":"My first assistant","workspaceid":"fecc09d3-75d2-47cd-af43-001d93a7572b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d425d0df-88c0-46ff-a754-4972b19efe5b/v2/assistants/fecc09d3-75d2-47cd-af43-001d93a7572b/sessions","timeout":"","optout-learning":false,"x":130,"y":320,"wires":[["9d63f771.816258"]]},{"id":"9d63f771.816258","type":"debug","z":"a7fe9748.02bc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":400,"wires":[]},{"id":"732525c1.33e62c","type":"ui_group","name":"जानकारी दर्ज करें (Enter the Information ):🌿🌾","tab":"d310e90.768ac18","order":1,"disp":true,"width":"9","collapse":false},{"id":"d310e90.768ac18","type":"ui_tab","name":"Crops Prediction","icon":"dashboard","disabled":false,"hidden":false}]